<!DOCTYPE html>
<html lang="en">
  <head>
    <title>My Blog</title>
    <%- include('includes/htmlhead') %>
  </head>
  <body>
    <div class="container">
      <h1>
        My Blog
        <% if (posts.length) { %>
          <small class="text-muted">
            <%= posts.length %> Post<%= posts.length > 1 ? 's' : '' %>
          </small>
        <% } %>
      </h1>
      <% if (posts.length) { %>
        <% posts.forEach(post => { %>
          <h3 class="mt-1">
            <a href="<%= post.url %>">
              <%= post.title %>
            </a>
          </h3>
          <%- post.content %>
        <% }) %>
      <% } else { %>
        <p class="mt-1">
          No posts yet.
        </p>
      <% } %>
      <p class="mt-1">
        <a href="/create-post" class="btn btn-secondary">Create post</a>
      </p>
    </div>
  </body>
</html>
